	body {
		font-family: Consolas, monospace;
		font-size: 13px;
		background-color: #000;
	}

	/* tabular structure */
	.call {
		display: table;
		width: 100%;
	}
	.argument, .operator {
		display: table-row;
	}
	.argument-pin, .connection, .output-connection, .input-connection {
		display: table-cell;
	}

	/* table cells */
	.connection-name {
		border: 5px solid transparent;
		border-image: url(border.png) 15 repeat;
		border-left: 0;
		border-right: 0;

		color: #bbb;

		margin-top: 1em;

		white-space: nowrap;
	}
	.argument-pin, .operator-pin {
		background-color: #222;
	}
	.argument-pin {
		border: 5px solid transparent;
		border-image: url(border.png) 15 repeat;
		border-top: 0;
		border-bottom: 0;

		height: 100%

		color: #ffa;

		text-align: right;

		padding-right: 0;
	}
	.operator-pin {
		border: 5px solid transparent;
		border-image: url(border.png) 15 repeat;
		border-bottom: 0;
		border-left: 0;

		color: #bbb;

		padding-left: 0;
	}
	.last {
		border-bottom: 5px solid transparent;
		border-image: url(border.png) 15 repeat;

		text-align: center;
	}
	.argument-pin-number, .operator-pin-name, .argument-pin-button { /* just pin? */
		background-color: #ccc;
		color: #111;
	}
	.argument-pin-number {
		margin-left: 1em;
		margin-right: -5px;
	}
	.argument-pin-button {
		margin-left: 1em;
		margin-right: 1em;
	}
	.description-wrapper {
		display: table;

		width: 100%;
	}
	.description {
		display: table-caption;

		width: 100%;

		opacity: 0.5;

		color: #bbb;

		font-size: 0.75em;
	}
	.operator-description-wrapper {
		display: table-cell;

		position: relative;

		width: 0;

		overflow: show;

		vertical-align: top;
	}
	.operator .description {
		position: absolute;
	}
	.icon {
		/font-size: 1.33em;
		padding: 0 0.25em 0 0.25em;
		opacity: 0.66;
		border-radius: 0.5em;
	}
	.argument-pin-number .icon {
		float: right;

		margin-left: 0.25em;
	}
	.operator-pin-name .icon {
		float: left;

		margin-right: 0.25em;
	}
	.output-connection .icon, .input-connection .icon {
		display: inline;
	}
	.input-connection {
		text-align: right;
	}
	.output-connection {
		text-align: left;
	}

	/* icons */
	.define-icon {
		background-color: #023;
		color: #8af;
	}
	.any-icon {
		color: #004;
		background-color: #9af;
		border-color: #9af;
	}
	.name-icon {
		background-color: #413;
		color: #bcd;
	}
	.value-icon {
		background-color: #021;
		color: #89c;
	}
	.five-icon {
		background-color: #432;
		color: #fac;
	}
	.number-icon {
		color: #041;
		background-color: #8f8;
	}
	.sequence-icon {
		background-color: #441;
		color: #fc8;
	}
	.symbol-icon {
		color: #440;
		background-color: #f88;
	}
	.plus-icon {
		background-color: #040;
		color: #9f8;
	}
	table {
		border: 0;
		border-spacing: 0;
		border-collapse: separate;
	}
	td {
		white-space: nowrap;
		vertical-align: top;
		color: #bbb;
		padding: 0;
		margin: 0;
		border: 0;
	}
	.border-top {
		background-image: url("border-top.png");
		background-size: contain;
		background-repeat: repeat;
		height: 5px;
		width: 100%;
	}

	/*           */
	/* ie styles */
	/*           */

	/* tables */
	.argument-description-table {
		width: 1px; /* so it doesn't stretch the cell and instead the description overflows from it */
	}
	.call-table {
		/width: 100%;
	}

	/* captions */
	.argument-description-cell {
		width: 100%;
		white-space: normal;

		color: rgb(255, 255, 255);

		text-align: right;

		font-size: 0.75em;

		zoom: 1;
		filter: alpha(opacity=50);
		opacity: 0.5;
	}

	/* cells */
	.call-cell, .argument-cell, .input-connection-cell, .output-connection-cell {
		padding-top: 0.5em;
	}
	.operator-cell, .argument-cell {
		background-color: #222;
	}
	.operator-cell {
		color: #bbb;

		padding-left: 0;
	}
	.argument-cell {
		text-align: right;

		padding-right: 0;
	}
	.argument-last-cell {
		text-align: center;
		padding-top: 0;
		padding-bottom: 1em;
	}
	.input-connection-cell {
		text-align: right;
	}

	/* divs */
	.operator-div, .argument-div, .add-argument-button-div {
		background-color: #bbb;
		color: #000;
	}
	.operator-description-div {
		position: absolute;

		width: 1000%;

		margin-left: 1em;

		font-size: 0.75em;

		zoom: 1;
		filter: alpha(opacity=50);
		opacity: 0.5;
	}
	.argument-div {
		margin-left: 0.5em;
	}
	.argument-last-cell .argument-div {
		margin-top: 0.5em;
		margin-right: 0.5em;
	}
	.input-connection-div, .output-connection-div {
		position: relative;
		border-top: 1px solid #000;
		border-bottom: 1px solid #bbb;
		border-left: 0;
		border-right: 0;
		background-color: #bbb;
		color: #000;
		/font-size: 0.75em;
		vertical-algin: middle;
		/margin-top: 0.125em
		/display: block;
		/height: 0.33em;
		/margin-top: 0.5em;
	}
	/*.input-connection-name {
		position: relative;
		top: -1.3em;
		color: #bbb;
	}
	.output-connection-name {
		position: relative;
		top: -1.3em;
		color: #bbb;
	}*/
	.input-connection-div .icon, .argument-div .icon {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.output-connection-div .icon, .operator-div .icon {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.argument-div {
		position: relative;
	}

	.operator-div {
		position: relative;
        border-top: 1px solid #000;
	}

	.input-connection-name {
		margin-left: 0.5em;
	}

	.output-connection-name {
		margin-right: 0.5em;
	}

	/*.input-connection-name, .output-connection-name {
		display: none;
	}
	.operator-name, .argument-name {
		display: none;
	}

	.argument-cell, .argument-last-cell .argument-div, .input-connection-cell, .output-connection-cell, .call-cell {
		padding: 0;
		margin: 0;
	}

	.argument-description-cell {
		display: none;
	}

	.argument-div,
	.argument-last-cell .argument-div,
	.argument-last-cell .argument-name {
		margin: 0;
		padding: 0;
	}*/

	.input-connection-div:before,
	.output-connection-div:before,
	.input-connection-div:after,
	.output-connection-div:after,
	.operator-div:before,
	.operator-div:after,
	.argument-div:before,
	.argument-last-cell:before,
	.argument-last-cell:after {
		display: none;
		position: absolute;

		z-index: 2;
		opacity: 0.66;

		width: 0.8em;
		height: 0.8em;

		line-height: 1.2em;

		text-align: center;

		font-size: 1.3em;

		border-radius: 0.33em;
	}

	.input-connection-div:before,
	.output-connection-div:before,
	.operator-div:before,
	.argument-last-cell:before,
	.argument-last-cell:after
	{
		color: #bbb;
		background-color: #000;
	}

	.input-connection-div:after,
	.output-connection-div:after,
	.operator-div:after,
	.argument-div:before {
		color: #000;
		background-color: #bbb;
	}

	.input-connection-div:before,
	.output-connection-div:before,
	.operator-div:before {
		bottom: -0.5em;
		left: -0.5em;
	}

	.argument-div:before,
	.input-connection-div:after,
	.output-connection-div:after {
		top: -0.5em;
		right: -0.5em;
	}

	.output-connection-div:before,
	.input-connection-div:after,
	.output-connection-div:after {
		line-height: 0.7em;
	}

	.input-connection-div:after,
	.output-connection-div:after {
		content: "\2192";
	}

	.input-connection-div:before {
		content: "\2935";

		-ms-transform: scaleX(-1);
		transform: scaleX(-1);
	}

	.output-connection-div:before {
		content: "\2190";
	}

	.operator-div:before {
		content: "\2936";

		transform: scaleY(-1);
		-ms-transform: scaleY(-1);
	}

	.operator-div:after {
		content: "\2935";

		top: -0em;
		right: -0em;
	}

	.argument-div:before {
		content: "\2937";
	}

	.argument-last-cell:before {
		content: "\2934";

		transform: scaleX(-1);
		-ms-transform: scaleX(-1);

		bottom: 0em;
		left: 0em;
	}

	.argument-last-cell:after {
		content: "\2936";

		bottom: 0em;
		right: 0em;
	}

	.argument-last-cell .argument-div:before {
		content: "";
		background-color: transparent;
	}


	.argument-cell, .operator-cell {
		border-left: 1px solid #bbb;
		border-right: 1px solid #000;
		position: relative;
        box-shadow: 1px 0 1px #000;
        background: linear-gradient(to right, rgb(64, 64, 64) 0, rgb(32, 32, 32) 0.5em);
	}
    .argument-last-cell {
        position: relative;
    }
    .gradient-div {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 1px;
            left: 0;
            background-image: linear-gradient(to top, rgba(64, 64, 64, 1) 0%, rgba(0, 0, 0, 0) 0.5em);
        }

    .operator-div, .input-connection-div, .output-connection-div {
        box-shadow: 0 -1px 1px #000;
    }

    .operator-cell {
		/border-top: 1px solid #000;
    }

	.input-connection-div {
		margin-left: -1px; /* taking border into account */
	}
	.output-connection-div {
		margin-right: -1px; /* taking border into account */
        z-index: 2;
	}

    .input-connection-name, .output-connection-name {
        display: none; /* ENABLE TYPE NAMES: display: inline */
    }

	.argument-div {
		margin-top: 1px; /* taking border into account */
	}

	.argument-last-cell {
		border-bottom: 1px solid #bbb;
	}

	.operator-name {
		margin-right: 1em;
	}

	.argument-name, .argument-id {
		margin-left: 0.5em;
	}


	.operator-return-div {
		position: absolute;
		left: -0.33em;
		bottom: -0.5em;

		color: #bbb;

		font-size: 1.2em;
		z-index: 100;

		transform: rotate(90deg) scaleX(-1);
		-ms-transform: rotate(90deg) scaleX(-1);
	}

	.operator-div, .operator-name, .operator-cell {
		border-top-right-radius: 0.33em;
	}
	.argument-last-cell {
		border-bottom-right-radius: 0.33em;
		border-bottom-left-radius: 0.33em;
	}

	.argument-div {
		border-top-left-radius: 0.33em;
		border-bottom-left-radius: 0.33em;
	}

	.argument-last-cell .argument-name, .argument-last-cell .argument-id {
		display: none;
	}

	.argument-last-cell .argument-div {
		border-top-right-radius: 0.33em;
		border-bottom-right-radius: 0.33em;
	}

	.input-connection-div {
		/border-top-right-radius: 0.33em;
		/border-bottom-right-radius: 0.33em;
	}

	.output-connection-div {
		/border-top-left-radius: 0.33em;
		/border-bottom-left-radius: 0.33em;
	}

	body.show-arrows .input-connection-div:before,
	body.show-arrows .output-connection-div:before,
	body.show-arrows .operator-div:before,
	body.show-arrows .argument-div:before,
	body.show-arrows .argument-last-cell:before,
	body.show-arrows *:after {
		display: block;
	}

	body.show-icons .icon {
		display: inline;
	}

	body.hide-icons .icon {
		display: none;
	}

    [data-symbol="$"] .argument-cell,
    [data-symbol="$"] .argument-last-cell,
    [data-symbol="$"] .input-connection-cell,
    [data-symbol="$"] .output-connection-cell,
    [data-symbol="$"] .icon {
        display: none;
    }
    [data-symbol="$"] .operator-row,
    [data-symbol="$"] .operator-div,
    [data-symbol="$"] .operator-cell,
    [data-symbol="$"] .call-table,
    [data-symbol="$"] .call-cell,
    [data-symbol="$"] .argument-row {
        display: inline;
        margin: 0;
        padding: 0;
    }
    [data-symbol="$"] .call-cell {
        margin-right: -0.75em;
    }
    [data-symbol="$"] .postfix {
        display: inline-block;
    }

    .primitive-list {
        background-color: #000;
        padding: 0;
        cursor: pointer;
    }
    .primitive-list li {
        list-style-type: none;
        border-bottom: 1px solid #333;
    }
    .primitive-list li:hover {
        background-color: #333;
    }

    /* for presentation: implement something like this,
     * just properly
    .argument-last-cell .icon {
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
    }

    .argument-last-cell .argument-div {
        display: none;
    }

    [data-symbol="sequence"] .argument-last-cell .argument-div,
    .root-call-table > tbody > tr > .argument-last-cell > .argument-div {
        display: block;
    }
     * end for presentation */

	/* notes */
	/*
	 * class naming:
	 * last word in name is the html tag (or a word that unambiguously identifies it, like cell-td, row-tr)
	 * the class is for (it assumes some defaults anyway)
	 * unless it's a span -- then there's no word at the end of the name
	 */
